{% extends 'base.html' %}

{% block content %}
    <div class="title-container">
        <h1 class="text-center">Thank You for RSVPing!</h1>
    </div>

    <div class="welcome-box">
        <p>We're excited to see you at our rehearsal dinner on DATE at LOCATION.</p>
        <p>Below are the details of the event and options to add it to your calendar:</p>
    </div>

    <div class="menu-section">
        <div class="menu-grid">
            {% for guest in guests %}
                <div class="menu-item">
                    <h3 class="guest-name">{{ guest.name }}</h3>
                    <p>Appetizer: {{ guest.menuChoices.appetizer }}</p>
                    <p>Entree: {{ guest.menuChoices.entree }}</p>
                    <p>Dessert: {{ guest.menuChoices.dessert }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
