{% extends 'base.html' %}

{% block content %}
    <div class="title-container">
        <h1 class="text-center">Thank You for RSVPing!</h1>
    </div>

    <div class="welcome-box">
            <div class="title-container">
        <h1 class="text-center">Thank You for RSVPing!</h1>
    </div>
        <p>We're excited to see you at our rehearsal dinner on May 19th at Congress Hall!.</p>
        <p>If you have any questions or issues with your RSVP please contact Nick at: </p>
            <p><strong>814-553-0075</strong></p>
    </div>

    <div class="menu-section">
        <div class="menu-grid">
            {% for guest in guests %}
                <div class="menu-item">
                    <h3 class="guest-name">{{ guest.name }}</h3>
                    <p>Appetizer: {{ guest.menuChoices.appetizer }}</p>
                    <p>Entree: {{ guest.menuChoices.entree }}</p>
                    <p>Dessert: {{ guest.menuChoices.dessert }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
<p class="centered-message">
  Website Created By
  <span role="img" aria-label="emoji with sunglasses">Nick 😎</span>
</p>
{% endblock %}


