<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('index', pair_id=pair_id) }}">S & N</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index', pair_id=pair_id) }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('menu', pair_id=pair_id) }}">Menu</a>

            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>Menu</h1>
 <div class="menu-box">
          <div id="menu-carousel" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              {% for category in ['appetizer', 'entree', 'dessert'] %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                  <h3>{{ category.capitalize() }}</h3>
                  <div class="menu-grid">
                    {% for item in menu_items %}
                      {% if item.category == category %}
                        <div class="menu-item">
                            <i class= "{{item.icon}}" ></i>
                          <h5>{{ item.name }}</h5>
                          <p>{{ item.description }}</p>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
            <ol class="carousel-indicators">
              {% for category in ['appetizer', 'entree', 'dessert'] %}
                <li data-target="#menu-carousel" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}>{{ category.capitalize() }}</li>
              {% endfor %}
            </ol>
            <a class="carousel-control-prev" href="#menu-carousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#menu-carousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <form class="menu-form" method="POST" action="{{ url_for('menu', pair_id=pair_id) }}">
  {% for guest_name in [guest_name1, guest_name2] %}
    <div class="menu-dropdown">
      <div class="dish-info">
        <h3>{{ guest_name }}</h3>
        {% for category in ['appetizer', 'entree', 'dessert'] %}
          <div class="form-group">
            <label>{{ category.capitalize() }}</label>
            <select class="form-control" name="{{ guest_name }}-{{ category }}">
              <option value="">Please select...</option>
              {% for item in menu_items %}
                {% if item.category == category %}
                  <option value="{{ item.name }}">{{ item.name }}</option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
<div class="menu-info-box text-center bg-yellow">
  <p class="centered-message">
  *Vegetarian option available upon request. If you have any dietary restrictions, please contact Nick or Sam directly*
</p>
</div>  <div class="submit-button">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
      </div>
    </section>
  </main>
</body>
</html>
